body {
  background: linear-gradient(to right, #2C3E50 0%, #FD746C 100%);
  margin: 0;
  padding:0;
  background-size: cover;
  min-width:100%;
  min-height:100%;
  width:auto;
  height:auto;
}

.logo{
  width:90px;
  height:60px;
  padding-left: 10px;
  margin: 0;
  float: left;
}

.pic{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: example2;
  animation-duration: 1.5s;
  float:right;
}


.main {
  padding: 1px;
  padding-bottom: 338px;
  margin: 0px;
}

/** Header styles **/

.header {
  background: #fff;
  height: 60px;
  background-position: center center;
}

.button {
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  border: none;
  color: #0;
  padding: 15px 70px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 100px 100px;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  float: left;
  transition: 0.3s;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

img {
  width: 405.6px;
  height: 540.8px;
  margin-right: 200px;
  margin-left: 200px;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

/** List style **/

h1 {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 150px;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 0px;
  padding-left: 100px;
  top: 20%;
  position: relative;
  animation-name: example;
  animation-duration: 1s;
}

@keyframes example {
  0%   {left:200px; top:0px;}
  100%  {left:0px; top:0px;}

}

@keyframes example2 {
  0%   {left:300px; top:0px;}
  100%  {left:0px; top:0px;}

}

p {
  color: #22181C;
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
  font-weight: 500;
  padding-left: 100px;
  margin: 5px;
  position: relative;
  animation-name: example2;
  animation-duration: 1.5s;
}

h2 {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  left: 100px;
  float: right;
  padding: 10px;
  margin-right:20px;
  margin-top:10px;
  text-align: right;
  text-decoration: none;
  border-radius: 50%;
}

h3 {
  font-family: 'Vibes';
  color: #fff;
  display:inline-block;
  margin: 0;
  padding: 10px;
  margin-left: 10px;
}



a {
  color: #214E34;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-decoration: none;

  letter-spacing: 2px;
}

.rectangle {
  height: 300px;
  width: 50px;
  background-color: #FFFFFF;
  border-radius: 40%;
}

.fa {
  display:inline-block;
  color: #000;
  left: 100px;
  float:right;
  padding: 10px;
  margin-right:20px;
  margin-top:4px;
  font-size: 30px;
  width: 20px;
  text-align: right;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 100;
}

@media (max-width: 660px) 
{
    h2
    {
        display: none;
    }
    .pic
    {
        display: none;
    }

}

@media (max-width: 1500px) 
{
    .pic
    {
        margin-left: 100px;
        margin-right: 100px;

    }
}
@media (max-width: 1100px) 
{
    .pic
    {
        width: 121.68px;
        height: 162.24px;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
   
    }

@media (max-width: 1300px) 
{
    .button
    {
        margin-top: 50px;
    }

}
